<!-- TODO: Put the ng-models on input elements and make form validation -->
<div id="wrapper">
    <div id="logo">
        <img id="title-img" src="/include/images/logo.png">
        <span id="title">UNINECT</span>
    </div>
</div>
<div id="login-content" ng-controller="loginCtrl">
    <div id="login">
        <form name="loginForm" ng-submit="submit(data)" novalidate>
            <label for="username" class="text-label">
                Username
            </label>
            <input type="text" class="input-text" name="username" id="username">
            <label for="password" class="text-label">
                Password
            </label>
            <input type="password" class="input-text" name="password" id="password">
            <input type="checkbox" name="remember" id="remember" class="input-radio">
            <label for="remember">Remember Me</label>
            <button id="login-submit"> LOG IN</button>
        </form>


    </div>
    <p id="reset-pass">Forgot your password? <a href="#">Click here to reset it.</a> </p>
</div>