#wrapper
  text-align center
  padding-bottom 10px


#logo
  display inline-block
  margin-top 40px
  margin-bottom 20px
  margin-left -30px


#title-img
  vertical-align middle

#title
  padding 0 5px
  vertical-align middle
  color rgb(71, 68, 68)
  font-family: fontType
  font-size 2.7em




#login-content
  width 400px
  margin 0 auto

#login
  width 400px
  margin 20px auto
  /*border 1px solid rgba(177, 177, 177, 0.3)*/
  /*border-radius 5px*/
  /*box-shadow 0px 2px 1px 0px rgba(51, 51, 51, 0.3)*/
  /*background-color rgba(255, 255, 255, 0.51)*/

  form
    padding 30px


  p
    margin-bottom 20px

  .text-label
    font-size 1.6em
    padding 5px
    margin-top 3px
    display block

  label
    vertical-align middle
    color rgb(71, 68, 68)
    font-size 1.2em

  #remember
    vertical-align middle


  .input-text
    border-radius 5px
    background rgba(255, 255, 255, 1)
    border 1px solid rgba(0,0,0,0.16)
    box-shadow inset 0px 1px 1px 0px #999999
    padding 0 15px
    width 100%
    height 40px
    margin-bottom 20px
    font-size 1.6em
    &:focus
      outline none


#login-submit
  margin-top 20px
  display block
  width 100%
  padding: 10px 10px;
  border: 1px solid rgba(128, 128, 128, 0.31);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #0688c0;
  background: -webkit-gradient(linear, left top, left bottom, from(#1daae6), to(#0688c0));
  background: -webkit-linear-gradient(top, #1daae6, #0688c0);
  background: -moz-linear-gradient(top, #1daae6, #0688c0);
  background: -ms-linear-gradient(top, #1daae6, #0688c0);
  background: -o-linear-gradient(top, #1daae6, #0688c0);
  background-image: -ms-linear-gradient(top, #1daae6 0%, #0688c0 100%);
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
  color: #ffffff;
  text-transform:uppercase;

  &:hover
    cursor pointer

#reset-pass
  text-align center
  font-weight bold
  font-size 1.3em

  a
    color #000000
    font-size 1em
    font-weight normal