*
  margin 0px
  padding 0px
  box-sizing border-box
  font-size 10px

#header
  height 46px
  background-color #6586B2
  box-shadow 0px 1px 1px rgba(0, 0, 0, 0.3)
  line-height 45px;

#title-img
  margin-top 7px;
  max-height 32px
  max-width 32px
  margin-left 10%
  float left

#title
  float left
  padding 0 5px
  color #ffedb1
  /*font-weight bold*/
  font-family Monaco, Consolas, "Lucida Console", monospace
  font-size 2.5em

#title:first-letter
  color #f163aa
  font-weight bold

#user
  float right
  display inline-block
  margin-right 10%